@media screen and (max-width: 1296px){
    #hero{
        width: 54%;
        font-size: 35px;
    }
    .project-image{
        width: 400px;
    }
}
@media screen and (max-width: 1156px){
    #hero{
        width: 60%;
    }
    .project-image{
        width: 350px;
    }
}
@media screen and (max-width: 1045px){
    #hero{
        width: 65%;
    }
    .project-image{
        width: 500px;
    }
   #first-caption{
       margin-bottom: 50px;
    }
    .space-around{
        justify-content: space-around;
    }
    
}
@media screen and (max-width:1025px){
    #hero{
        width: 61%;
        padding-right: 11%;
        font-size: 3.2vw;
    }
    button{
        width: 125px;
        height: 35px;
    }
    .circle{
        padding: 40px;
        font-size: 40px;
    }
}
@media screen and (max-width: 800px)
{
    .space-between{
        justify-content: space-around;
    }
    header .central-positioning{
        flex-direction: column;
        width: 100%;
    }
    /* nav */
    .padding-top-40{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #list{
        display: none;
    }
    #hamburger{
        display: initial;
    }
    nav{
        background-color: black;
        width: 100%;
    }
    nav ul li a{
        color: white;
        border-left: 2px solid white;
        padding-left: 3px;
    }
    nav:hover #list{
        display: block;
    }
    
    .ai-items{
        align-items: center;
    }
    button{
        width: 95px;
        height: 30px;
    }
    button:hover{
       background-color: black;
       color: white;
    }
    /* skills */
    h2{
        padding: 0px;
        font-size: 25px;
    }
    .padding-top-bottom {
        padding: 20px 0px;
    }
    .info{
        width: 100%;
    }
    .service-icon{
        width: 55%;
    }
    .w-40{
        width: 80%;
        /* @include border; */
    }
}
@media screen and (max-width: 770px){
   
    #logo img{
        width: 60px
    }
    #hero{
        width:70%;
        /* padding-right: 10%; */
        font-size: 30px;
        /* padding-top: 20%; */
        right: 20px;
        top:50%;
    }
}

@media screen and (max-width: 740px){
    .project-image{
        width: 450px;
    }
}
@media screen and (max-width: 660px){
  header nav ul li{
        margin: 0px 15px;
   }
   button{
        width: 80px;
      height: 25px;
     }
}
@media screen and (max-width: 590px){
    #cover{
        background-position: 15%;
    }
    .project-image{
        width: 400px;
    }
}
@media screen and (max-width: 550px){
    .project-image{
        width: 350px;
    }
}
@media screen and (max-width:480px){
    .project-image{
        width: 100%;
    }
}
@media screen and (max-width: 426px){
    .padding-bottom{
        padding-bottom: 65px;
    }
    .service-icon{
        width: 100%;
    }
    .w-40{
        width: 100%;
    }
}
@media screen and (max-width: 380px){
   
    header nav ul li a{
        font-size: 10px;
    }
    #hero{
        bottom: 50px;
    }
}
@media screen and (max-width:321px){
    #hero{
        top:35%;
    }
    .contact-icon{
        margin-right: 30px;
    }
    .justify-320px{
        align-items: center;
    }
}