$yellow: rgb(237, 184, 3);
$whitebackground: rgb(241, 241, 241);
$black: rgb(8, 8, 8);
$full: 100%;

@mixin display-flex {
    display: flex;
    justify-content: space-between;
	flex-wrap: wrap;
}
@mixin border {
    border: 3px solid $yellow;
}
@mixin picture {
    background-image: url("../img/cover1.jpg");
	background-attachment: fixed;
	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;
}
@mixin icon-size{
    text-align: center;
    font-size: 3.125em;
}
@mixin center-align{
    text-align: center;
}
*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
@font-face {
	font-family: font-main;
	src: url(../fonts/ProductSansRegular.ttf);
}
@font-face {
	font-family: naslov;
	src: url(../fonts/ProductSansBoldItalic.ttf);
}
body, html, #cover{
    height: $full;
}
h1, h2{
    font-family: naslov;
}
body{
    font: {
        family: font-main;
    }
    background-color:  $whitebackground;
    line-height: 30px;
}
.text-align-center, #hero, h2, .service-icon, figcaption, #social{
    @include center-align;
}
.yellow{
    background-color: $yellow;
}
a{  
    color: $black;
    text-decoration: none;
	text-transform: uppercase;
}
ul{
    list-style-type: none;
}
.central-positioning{
    width: 80%;
	margin: 0px auto;
}

.d-flex{
    @include display-flex;
}
.padding-top-40{
	padding-top: 34.5px ;
}
 header{
    width: $full;
    background-color: $whitebackground;
    border-bottom: 3px solid $yellow;
    position: fixed;
    z-index: 1;
}
nav{
    li{
        margin: 0px 20px;
        background-image: linear-gradient($black, $black);
        background-size: 0 2px, auto;
	      background-repeat: no-repeat;
	      background-position: center bottom;
	      transition: all .4s ease-out;
        &:hover{
            background-size: 100% 2px;
        }

    }
}
#hamburger{
    display: none;
    width: $full;
	  padding: 10px 0px;
    div{
        width: 35px;
	    height: 4px;
	    background-color: $whitebackground;
	    margin: 5px auto;
    }
}
// start section main 
#cover {
	@include picture;
  position: relative;
}
#hero{
    // background-color: royalblue;
    font-size: 38px;
	width: 48%;
	right: 200px;
	bottom: 30%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
    h1{
      margin-bottom: 20px;
      line-height: initial;
    }
}
button{
    background-color: $black;
    width: 150px;
    height: 40px;
    cursor: pointer;
    border-radius: 30px;
    color: $whitebackground;
    border: 1px solid $black;
    &:hover{
        background-color: inherit;
        color: $black;
        border: none;
        transition: ease-in 0.5s;
        font-weight: bold;
    }
}
// ending section main
// start section skills
.padding-top{
	padding-top: 40px;
}
.padding-top-bottom{
	padding: 30px 0px;
}
.padding-bottom{
	padding-bottom: 90px;
}
.space-evenly{
  @extend .d-flex;
  justify-content: space-evenly;
}
h2{
	font-size: 30px;
}
.skills-icon{
  animation: rotation 5s infinite linear;
  @include icon-size;
}
.info{
  width: 30%;
  padding: 20px;
	margin-bottom: 50px;
	background-color: $yellow; 
  text-align: justify;
  @include border;
    h3{
      text-align: left;
  }
  &:hover{
    transition: ease-in 0.5s;
    @include border;
    background-color: inherit;
  }
}
@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}
// ending section skills
// start section sevices
#bg-cover{
  background-color: $yellow;
}
 .service-icon{
  width: 30%;
  padding: 5% 0px;
}

// ending section services
// start section projects
.pop-up:hover{
  transition: ease-in 0.5s;
  opacity: 0.8;
}
// ending section projects
// start section  about me 
.slika{
  width: 500px;
  height: 250px;
  background-color: $yellow;
}
.w-40{
  width: 40%;
  #text-p{
    text-align: justify;
  }
}
#social{
  flex-direction: column;
  align-items: center;
}
// ending section about me
// start section contact 
.jc-center{
  justify-content: center;
}
.text-align-center{
  p{
    color:rgb(241, 241, 241);
  }
  div{
    padding-bottom: 40px;    
    a{
      color:rgb(241, 241, 241);
      margin-right: 10px;
      :hover{
        color: $black;
        transition: all .4s ease-out;
      }
    }    
  }
}
#outline{
  background-color: $black;
  h2{
    color: $yellow;
    font-size: 25px;
  }
  table{
    width: -webkit-fill-available;
    input{
      color: white;
      border: none;
      border-bottom: 1px solid white;
      background-color: $black;
      margin-top: 40px;
      width: 80%;
      text-align: center;
    }
    ::placeholder{
      color: $whitebackground;
      background-color: $black;
      padding-bottom: 5px;
      font: {
        family: font-main;
        size: 16px;
      }
    }
    button{
      margin-top: 40px;
      background-color: $yellow;
      color: $black;
    }
  }
}
// ending section contact
// start section  footer
#copy, #webicons{
  width: 45%;
}
#copy{
  text-align: right;
}
#webicons{
  justify-content: left;
  font-size: 12px;
  a{
    margin-right: 5%;
    &:hover{
      color: $whitebackground;
      transition: all .4s ease-out;
    }
   
  }  
}
// ending section footer
// responsive 
@media screen and (max-width: 1296px) {
    #hero {
      width: 54%;
      font-size: 35px;
    }
    .info {
      width: 37%;
    }
    .project-image {
      width: 400px;
    }
  }
  @media screen and (max-width: 1156px) {
    #hero {
      width: 60%;
      right: 150px;
    }
    .project-image {
      width: 350px;
    }
  }
  @media screen and (max-width: 1045px) {
    #hero {
      width: 65%;
      right: 130px;
    }
    .project-image {
      width: 500px;
    }
    #first-caption {
      margin-bottom: 50px;
    }
    .space-around {
      justify-content: space-around;
    }
  }
  @media screen and (max-width: 1025px) {
    #hero {
      width: 60%;
      font-size: 32px;
    }
    button {
      width: 125px;
      height: 35px;
    }
  }
  @media screen and (max-width: 986px) {
    #hero, .info {
      width: 65%;
    }
  }
  @media screen and (max-width: 885px) {
    #hero {
      width: 70%;
      right: 70px;
    }
  }
  @media screen and (max-width: 820px) {
    #hero {
      width: 77%;
      right: 50px;
      bottom: 10%;
    }
  }
  @media screen and (max-width: 800px) {
    #logo img {
      width: 60px;
    }
    .space-between {
      justify-content: space-around;
    }
    header{
      border-bottom: none;
    }
    header .central-positioning {
      flex-direction: column;
      width: 100%;
    }
    .padding-top-40 {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    #list {
      display: none;
    }
    #hamburger {
      display: initial;
    }
    nav {
      background-color: $black;
      width: 100%;
      ul li{
        border-bottom: $yellow 0.5px solid;
        padding-top: 20px;
        text-align: center;
      }
      ul li a {
        color: $whitebackground;    
      }
      &:hover #list {
        display: block;
      }
    }
    .ai-items {
      align-items: center;
    }
    button {
      width: 95px;
      height: 30px;
      margin-bottom: 40px;
      &:hover {
        background-color: $black;
        color: $whitebackground;
      }
    } 
    h2 {
      padding: 0px;
      font-size: 25px;
    }
    .padding-top-bottom {
      padding: 20px 0px;
    }
    .service-icon {
      width: 55%;
    }
    .w-40 {
      width: 80%;
    }
    #copy, #webicons{
      width: $full;
    }
    #copy{
      text-align: center;
      font-size: 14px;
    }
    #webicons{
      justify-content: space-around;
      font-size: 12px;
      a{
      margin-right: 0px;
      }
    } 
  }
  @media screen and (max-width: 750px) {
    #hero {
      width: 85%;
    }
    .project-image {
      width: 450px;
    }
  }
  @media screen and (max-width: 680px) {
    #hero {
      width: 95%;
      right: 25px;
      font-size: 27px;
    }
    button {
      width: 80px;
      height: 25px;
    }
  }
  @media screen and (max-width: 620px) {
    #cover {
      background-position: 15%;
    }
    .project-image {
      width: 400px;
    }
  }
  @media screen and (max-width: 520px) {
    #hero {
      width: 100%;
      right: 0px;
    }
    .project-image {
      width: 100%;
    }
  }
  @media screen and (max-width: 463px) {
    #hero {
      width: 85%;
      right: 35px;
      font-size: 25px;
      bottom: 5%;
    }
  }
  @media screen and (max-width: 426px) {
    .padding-bottom {
      padding-bottom: 65px;
    }
    .service-icon, .w-40 {
      width: 100%;
    }
    .info {
      width: 100%;
      &:hover {
        pointer-events: none;
      }
    }
  }
  @media screen and (max-width: 380px) {
    #hero{
      width: 100%;
      right: 0px;
    }
    header nav ul li a {
      font-size: 10px;
    }
    #copy{
      font-size: 12px;
    }
  }
